@media screen and (max-width: 1028px) {
    h2
    {
        text-align: center;
    }

    .nav {
        width: 100%;
    }

    .nav__title {
        display: none;
    }

    .nav__center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav__center ul li a {
        font-size: 15px;
    }

    .nav__right {
        margin: 30px;
    }

    .left .hero__title {
        display: none;
    }

    .hero__img {
        width: 80%;
    }

    .left__img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero__text {
        margin-top: 2rem;
    }

    .left__hero__player {
        display: none;
    }

    .category img {
        display: none;
    }

    .category {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .category .text {
        width: 595px;
    }

    #trend__news {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .trend__right {
        display: none;
    }

    .slider__background {
        width: 80%;
        background-size: cover;
    }

    .slider__content {
        width: 100%;
        text-align: center;
    }

    #recent__news {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sports__article {
        display: flex;
        flex-direction: column;
    }

    .sports__article span {
        display: none;
    }

    .sports__article article {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sports__article .sportsarticle__content {
        text-align: center;
    }

    .sportsarticle__btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .newslettersubscription img {
        display: none;
    }

    .newslettersubscription {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer {
        margin: 55px 30px;
    }
}

@media screen and (max-width: 450px) {

    .nav__left i
    {
        margin-top: 10px;
        visibility: visible;
        font-size: 20px;
    }

    .nav__center
    {
        display: none;
    }

    .nav__right {
        display: none;
    }

    .hero__img {
        display: none;
    }

    .sidebar
    {
        margin-top: 2rem;
    }

    #category__title {
        text-align: center;
    }

    .trend__left article img {
        width: 200px;
        height: 100%;
        object-fit: contain;
    }

    .trend__left article .article__right p {
        display: none;
    }

    .trend__left article .article__right {
        font-size: 12px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .recentnews__actu>div {
        display: grid;
        grid-template-columns: 1fr;
    }

    .recentnews__ranking img {
        height: 230px;
        width: 450px;
    }

    .slider__tag {
        display: none;
    }

    .slider__content p {
        margin: 20px;
        font-size: 20px;
    }

    .slider__content h3 {
        font-size: 30px;
    }

    .slide {
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .recent__news {
        display: flex;
        flex-direction: column;
    }

    .newsletter__left input {
        width: 314px;
        height: 38px;
    }

    .newsletter__left input::placeholder {
        font-size: 16px;
    }

    .newsletter__left h3
    {
        font-size: 45px;
    }

    .newsletter__left .input span {
        width: 55px;
        height: 38px;
    }

    .newsletter__left .input span i {
        font-size: 18px;
        padding-top: 7px;
        padding-right: 7px;
    }

    .footer__left
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer__right
    {
        display: none;
    }
}