@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

@font-face {
    font-family: "Darkline";
    src: url("../font/Darkline.ttf");
}

@font-face {
    font-family: "Sequel-Sans";
    src: url("../font/Sequel\ Sans\ Black\ Body.ttf");
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
}

.header
{
    width: 100%;
}

.nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__left .nav__title
{
    font-family: 'Darkline';
    font-size: 42px;
    color: #262626
}

.nav__center ul
{
    list-style: none;
    display: flex;
    margin: 2em;
}

.nav__center ul li
{
    margin: 1em;
}

.nav__center ul li a
{
    color: #262626;
    opacity: .6;
}

.nav__center ul li a.active
{
    opacity: 1;
}

.nav__right
{
    cursor: pointer;
    background-color: #B8C2CE;
    width: 6.25rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.nav__right a
{
    color: #fff;
}

.left__img
{
    display: flex;
}

.left .hero__img
{
    position: fixed;
    z-index: 1;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.left .hero__title
{
    position: fixed;
    margin-top: 1.8rem;
    margin-left: 11rem;
    text-transform: uppercase;
    font-family: 'Sequel-Sans', sans-serif;
    font-size: 80px;
    background: -webkit-linear-gradient(#262626, #B8C2CE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
}

.left .hero__player
{
    z-index: 3;
    margin-left: 26rem;
}

p.hero__text
{
    text-align: center;
    font-size: 18px;
}

.left__text
{
    justify-content: center;
    display: flex;
    align-items: center;
}

.left__text .hero__btn
{
    border-radius: 12px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    background-color: #262626;
    width: 18rem;
    height: 4rem;
}
