/* IMPORT FONT */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

@font-face {
    font-family: "Darkline";
    src: url("../font/Darkline.ttf");
}

@font-face {
    font-family: "Sequel-Sans";
    src: url("../font/Sequel\ Sans\ Black\ Body.ttf");
}

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
}

/* NAVBAR */

.header {
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__left .nav__title {
    color: #262626;
    font-size: 42px;
    font-family: 'Darkline';
}

.nav__center ul {
    display: flex;
    margin: 2em;
    list-style: none;
}

.nav__center ul li {
    margin: 1em;
}

.nav__center ul li a {
    color: #262626;
    opacity: .6;
}

.nav__center ul li a.active {
    opacity: 1;
}

.nav__right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    width: 6.25rem;
    height: 2.2rem;
    background-color: #B8C2CE;
    cursor: pointer;
}

.nav__right a {
    color: #fff;
}

/* HERO BANNER */

.left .hero__img {
    z-index: 1;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.left .hero__title {
    margin-top: 50px;
    font-family: 'Sequel-Sans', sans-serif;
    font-size: 75px;
    background: -webkit-linear-gradient(#262626, #B8C2CE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 3;
    text-transform: uppercase;
}

.left .hero__player {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

.left__img {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.left__hero__img {
    grid-area: 1 / 1 / 2 / 5;
}

.left__hero__title {
    grid-area: 1 / 2 / 2 / 6;
}

.left__hero__player {
    grid-area: 1 / 10 / 2 / 14;
}

.sidebar {
    grid-area: 1 / 11 / 2 / 14;
}

p.hero__text {
    text-align: center;
    font-size: 18px;
}

.left__text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left__text .hero__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 18rem;
    height: 4rem;
    font-size: 20px;
    color: #fff;
    background-color: #262626;
    border-radius: 12px;
    cursor: pointer;
}

.sidebar .sidebar__btn {
    padding: 8px;
    font-size: 20px;
    color: #B8C2CE;
    background-color: #E1E8F0;
    border-radius: 3px;
}

.sidebar .article {
    position: relative;
    margin-top: 15px;
}

.sidebar .article__info {
    position: absolute;
    bottom: 0;
    padding: 70px 10px 10px 10px;
    width: 270px;
    background: rgb(242, 242, 242);
    background: linear-gradient(to top, rgba(242, 242, 242, 1) 35%, rgba(242, 242, 242, 0) 100%);
}

.sidebar .article__info .sidebar__date {
    font-size: 10px;
    color: #262626;
    opacity: .6;
}

.sidebar .article__info .sidebar__title {
    color: #262626;
}

/* CATEGORY */

.category {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 30px;
    margin: 0 100px;
}


.category h3 {
    text-align: center;
    font-size: 37px;
    text-transform: uppercase;
    font-family: 'Sequel-Sans', sans-serif;
    background: -webkit-linear-gradient(#262626, #B8C2CE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.category .text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 118px;
    background-color: #EBEEF3;
    border-radius: 6px;
}

.category img {
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#basket {
    height: 170px;
}

h2#category__title {
    margin: 2rem;
    font-size: 28px;
    font-family: 'Sequel-Sans', sans-serif;
}

/* TRENDING NEWS */

#trend__news {
    margin: 80px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.trend__left {
    background-color: #EBEEF3;
    border-radius: 6px;
}

.trend__left h2 {
    font-family: 'Sequel-Sans', sans-serif;
    font-size: 28px;
    margin: 2rem;
}

.trend__left p {
    color: #262626;
    opacity: .6;
    font-size: 10px;
}

.trend__left .desc {
    font-size: 12px;
    color: #696868;
}

.trend__left h3 {
    font-family: 'Sequel-Sans', sans-serif;
    color: #262626;
    font-size: 18px;
}

.trend__left .article__right {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.trend__left article {
    display: flex;
    margin: .8rem;
}

.trend__left .article__border {
    margin-bottom: 0;
    border-bottom: 2px solid #B8C2CE;
}

.trend__right {
    position: relative;
    border-radius: 6px;
}

.trend__right .trend__background {
    background-size: cover;
    background-image: url("../img/sportsman-drinking-water.png");
    background-repeat: no-repeat;
    filter: brightness(35%);
    height: 100%;
    width: 100%;
}

.trend__right .trend__content {
    position: absolute;
    bottom: 0;
    margin: 2rem
}

.trend__right p {
    font-size: 18px;
    color: #fff;
}

.trend__right h3 {
    font-family: 'Sequel-Sans', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #ffffff;
}

.trend__right a {
    position: absolute;
    top: 0;
    margin: 3rem 2rem;
    padding: .5rem 1.5rem;
    font-size: 20px;
    color: #EBEEF3;
    border: solid 1px #EBEEF3;
    border-radius: 3px;
}

/* SLIDER */

.slider {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__background {
    background-image: url("../img/two-opposing-players-give-handshake.png");
    height: 518px;
    background-size: cover;
}

.slider__background .slider__overlay {
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2em;
}

.slider__tag {
    color: #EBEEF3;
    font-size: 20px;
    border: 1px solid #EBEEF3;
    padding: .5rem 1.5rem;
    border-radius: 3px;
}

.slider__content {
    width: 62%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.slider__content p {
    color: #F9FAFC;
    font-size: 18px;
}

.slider__content .desc {
    font-size: 20px;
}

.slider__content h3 {
    font-family: 'Sequel-Sans', sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #ffffff;
}

.slide {
    background-color: #EBEEF3;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 15px;
}

.slide i,
.slide span {
    margin: 1rem .7rem;
    cursor: pointer;
}

.slide i {
    color: #EBEEF3;
    padding: .5rem 1.5rem;
}

.slide .fa-arrow-left {
    background-color: #BAB8B8;
    border-radius: 3px;
}

.slide .fa-arrow-right {
    background-color: #262626;
    border-radius: 3px;
}

.slide span {
    color: #262626;
    opacity: .6;
    font-size: 24px;
}

.slide .slide__active {
    color: #EBEEF3;
    opacity: 1;
    border-radius: 50%;
    padding: 0 12px;
    background-color: #262626;
}

/* RECENT NEWS */

#recent__news {
    margin: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8rem;
}

.recentnews__title {
    font-family: 'Sequel-Sans', sans-serif;
    color: #262626;
    font-size: 28px;
}

.recentnews__left .recentnews__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 7rem;
    padding: 15px;
    width: 17rem;
    height: 6.7rem;
    background: linear-gradient(to top, rgb(177, 124, 9) 35%, rgba(242, 242, 242, 0) 100%);
}

.recentnews__left .recentnews__content p {
    font-size: 10px;
    color: #262626;
    opacity: .6;
}

.recentnews__left .recentnews__content h3 {
    font-family: 'Sequel-Sans', sans-serif;
    font-size: 16px;
    color: #EBEEF3;
}

.recentnews__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EBEEF3;
}

.recentnews__center article {
    display: flex;
    gap: 8px;
    padding: 8px;
}

.recentnews__center .article__right p {
    font-size: 10px;
    color: #262626;
    opacity: .6;
}

.recentnews__center .article__right h3 {
    font-family: 'Sequel-Sans', sans-serif;
    font-size: 16px;
    color: #262626
}

.article__right {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.recentnews__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    width: 6.25rem;
    height: 2.2rem;
    background-color: #B8C2CE;
    cursor: pointer;
}

.recentnews__btn a
{
    color: #fff;
}

.recentnews__right {
    background-color: #EBEEF3;
}